body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Veranda;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

h2 {
    color: white;
    font-family: Veranda;
    font-size: 42px;
    font-weight: 300;
}

h3 {
    font-family: Veranda;
    font-size: 21px;
    color: gray;
}

p a {
    color: Aquamarine;
    font-size: 16px;
}

footer {
    color: gray;
    text-align: right;
}